<!--<div class="container">
  <div class="add-employee-container">
    <h2>Add Employee</h2>
    <button>+</button>
  </div>

  <div class="table-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Departmet</th>
          <th scope="col">isActive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Umar</td>
          <td>Developer</td>
          <td>true</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Mussadiq</td>
          <td>Developer</td>
          <td>true</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Ali</td>
          <td>Designer</td>
          <td>false</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>-->

<app-addemployee></app-addemployee>
